<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="h3"><%= image_tag(@news_article.avatar.url, :class => "img_class pull-left") %> <%= @news_article.heading %></div>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <%= @news_article.body %>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <b>Tags:</b>
      <%= simple_form_for @news_article_tag, :html => {:class => "form-inline"} do |f| %>
        <%= f.input :tags_tokens, :required => true, :label => false, :input_html => {:id => :tag_tokens}%>
        <%= hidden_field_tag :id, params[:id] %>

        <%= f.submit "Add", :class => "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<br/>
  
<table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody id="tags" class="tags_index">
	  <%= render :partial => "tags_table", :collection => @news_article.tags, :as => :tag %>
	</tbody>
</table>
</p>

<script>
  $(document).ready(function() {
        $("#tag_tokens").tokenInput("/token.json?news_article_id=<%=@news_article.id%>", {
            crossDomain: false,
            theme: "facebook",
            preventDuplicates: true,
            prePopulate: $("#tag_tokens").data("pre")
         });
    });
</script>