<p id="notice"><%= notice %></p>

<p>
  <b>Heading:</b>
  <%= @news_article.heading %>
</p>

<p>
  <b>Body:</b>
  <%= @news_article.body %>
</p>
<p>
  <b>Tags:</b>
  <%#= join_tags(@news_article) %>
</p>

<%= link_to 'Edit', edit_news_article_path(@news_article) %> |
<%= link_to 'Back', news_articles_path %>
