<div class="col-sm-6">
             
                <div class="panel panel-default">
                   <div class="panel-heading"> <h4><%= link_to @news_articles_even_last.heading, main_page_show_path(:id => @news_articles_even_last.id) %></h4></div>
                    <div class="panel-body">
                      <p><img src="<%= @news_articles_even_last.avatar(:medium) %>" class="pull-left"></p>
                      <div class="clearfix"></div>
                      <hr>
                      <%= @news_articles_even_last.body %>
                      <hr>
                     
                    </div><!--/panel-body-->
                 </div><!--/panel-->

                <% @news_articles_even.each do |news_article| %>
                  <div class="panel panel-default">
                    <div class="panel-heading"> <h4><%= link_to news_article.heading, main_page_show_path(:id => news_article.id) %></h4></div>
                     </div>
                 <% end %>

            </div><!--/col-->





            <div class="col-sm-6">
             
                <div class="panel panel-default">
                   <div class="panel-heading"> <h4><%= link_to @news_articles_odd_last.heading, main_page_show_path(:id => @news_articles_even_last.id) %></h4></div>
                    <div class="panel-body">
                      <p><img src="<%= @news_articles_odd_last.avatar(:medium) %>" class="pull-left"></p>
                      <div class="clearfix"></div>
                      <hr>
                      <%= @news_articles_odd_last.body %>
                      <hr>
                     </div>
                    </div><!--/panel-body-->
                    <% @news_articles_odd.each do |news_article| %>
                  <div class="panel panel-default">
                    <div class="panel-heading"> <h4><%= link_to news_article.heading, main_page_show_path(:id => news_article.id) %></h4></div>
                 </div>
                 <% end %>
                 
            </div><!--/col-->