<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="h3"><%= image_tag(@news_article.avatar.url, :class => "img_class pull-left") %> <%= @news_article.heading %></div>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
		  <%= @news_article.body %>
		</div>
	</div>
</div>
<br/>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
		  <b>Tags:</b>
			<%= join_tags_link(@news_article) %>
		</div>
	</div>
</div>



